$duration: var(--bPl-spark-starburst-transition-duration, 1s);
$size : var(--bPl-spark-starburst-size, 60px);
$color : var(--bPl-spark-starburst-color, #ff9a8b);
.effect-wrapper {
  .spark-starburst-container {
    .starburst-line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $size;
      height: 3px;
      background: linear-gradient(90deg, $color, transparent);
      transform-origin: left;
      // animation: starburstGrow 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
      animation: starburstGrow $duration cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
    }
    @keyframes starburstGrow {
      0% {
        width: 0;
        opacity: 1;
      }
    
      60% {
        opacity: 1;
      }
    
      100% {
        width: $size;
        opacity: 0;
      }
    }
  }
}

