$bgColor: var(--bBlocks-cursor-dot-cursor-bg, #3B82F6);
$size: var(--bBlocks-cursor-dot-cursor-size, 12px);


.b-blocks-cursor-dotCursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    height: $size;
    width: $size;
    background: $bgColor;
    pointer-events: none; 
    cursor: default;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}