/* Hide checkbox */
#csb-advancedScrollbarSettings-pro-modal-toggle {
  display: none;
}

/* Button to open modal */
.bPl-settings-pro-open-modal-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal styles */
.bPl-settings-pro-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .bPl-settings-pro-modal-content {
    &>a {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    &>p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .bPl-settings-pro-modal-upgrade-btn {
    padding: 8px 14px;
    border-radius: 6px;
    background: #146ef5;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 1;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 100%;
      transition: all 0.4s ease-in-out;
      z-index: -1;
    }

    &:hover {
      &::before {
        background: #070127;
        right: 0;
      }
    }

    svg {
      font-size: 22px;
    }
  }


}

/* Show modal when checkbox is checked */
#csb-advancedScrollbarSettings-pro-modal-toggle:checked~.bPl-settings-pro-modal {
  display: flex;
}

.bPl-settings-pro-modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
  text-align: center;
}

.bPl-settings-pro-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

.bPl-settings-pro-close-btn:hover {
  color: red;
}