.cursor-spotlight {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 50;
    mix-blend-mode: overlay;
    transform: translate(-50%, -50%);
    border-radius: 50%
}