.cursor-video-container {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 50;
    overflow: hidden;
    border-radius: 9999px;
    transform: translate(-50%, -50%);

    .cursor-video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}