.cursor-ripple-wrapper {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 51;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.cursor-ripple {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}