.neon-cursor {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.neon-glow {
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 50;
    filter: blur(24px);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}