$size : var(--bPl-spark-radial-size, 80px);
$color : var(--bPl-spark-radial-color, #74ebd5);
$duration: var(--bPl-spark-radial-transition-duration, 1.2s);

.effect-wrapper .radial-spark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: 2px;
  background: linear-gradient(90deg, $color, transparent);
  transform-origin: left;
  animation: radialGrow $duration cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@keyframes radialGrow {
  0% {
    width: 0;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    width: $size;
    opacity: 0;
  }
}